<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <bean id="jedisPool" class="redis.clients.jedis.JedisPool" destroy-method="destroy">
        <constructor-arg name="poolConfig">
            <bean class="redis.clients.jedis.JedisPoolConfig">
                <property name="maxTotal" value="${jedis.maxActive:8}"/>
                <property name="maxIdle" value="${jedis.maxIdle:4}"/>
                <property name="maxWaitMillis" value="${jedis.maxWait:1000}"/>
                <property name="testOnBorrow" value="${redis.pool.testOnBorrow:true}"/>
            </bean>
        </constructor-arg>
        <constructor-arg name="host" value="${redis.host}"/>
        <constructor-arg name="port" value="${redis.port:6379}"/>
        <constructor-arg name="timeout" value="${redis.timeout:2000}"/>
        <constructor-arg name="password" value="#{'${redis.password:}'?:null }"></constructor-arg>
        <constructor-arg name="database" value="${redis.database:9}"/>
    </bean>

</beans>